.button {
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--neutral_1);
  border: 1px solid transparent;
  background-color: transparent;

  &.active {
    color: var(--primary_4);
    border-color: var(--primary_4);
  }

  &.filled {
    background-color: var(--primary_4);
  }

  &:focus {
    outline: 2px solid var(--primary_4);
  }
}
