.sidebar {
  .logo {
    display: block;
    margin: 1rem auto 3rem auto;
  }

  .menu {
    padding: 0;
    list-style: none;
    li {
      a {
        gap: 1rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        color: var(--neutral_2);
        text-decoration: none;
        text-transform: uppercase;
        &.active {
          background: var(--linear_gradient);
          border-right: 4px solid var(--primary_4);
          i {
            color: var(--primary_4);
          }
        }
      }
    }
  }
}
