.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  i {
    color: var(--neutral_2);
    font-size: 4rem;
  }

  h1 {
    color: var(--primary_4);
  }

  p {
    color: var(--neutral_2);
  }
}
